{% extends "base.html" %}

{% load static %}

{% block content %}
<section class="section is-medium main-section">

<div class="columns">
<div class="column">

<table class="table table is-striped table is-hoverable table is-narrow">
{% if cart_items %}
<tr>
<th scope="col">Service Provider Info</th>
<th scope="col">Service Info</th>
<th scope="col">Total Price</th>
<th></th>
</tr>
{% for item in cart_items %}
<tr>
<td>
<figure class="image image is-48x48 media-left">
  <img src="https://bulma.io/images/placeholders/128x128.png">
</figure>
<p>{{ item.tasker.name }}</p>
<p> price: {{ item.tasker.price }}</p>
</td>

<td>
<p>service:{{ item.tasker.service_category }}</p>
<p {% if item.tasker.charge_type.type != "Hourly" %} hidden {% endif %} > 
Booking Hours: {{ item.hours }}</p>
<p>Booking Date: {{ item.date }}</p>
<p>Booking time: {{ item.time }}</p>
</td>
<td>
<p> service cost: DKK {{ item.cost|floatformat:2 }}
<p>service Charge: DKK {{ item.service_charge|floatformat:2 }} </p>
<p>Total: DKK {{ item.sub_total|floatformat:2 }}</p>
</td>

<td>
<button class="delete is-medium m-3"></button>
</td>

</tr>
{% endfor %}

{% else %}
<div class="title"> Your cart is empty </div>
{% endif %}
<tr>
<td>
<button class="button is-info is-rounded is-centered m-2">continue Booking</button>
<button class="button is-success is-rounded m-2">Checkout</button>

</td>
</tr>
</table>
</div>
</div>

</section>
{% endblock %}