{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="section is-medium main-section">
    <div class="row">
        <div class="col-sm-8">
            <img src="media/head.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-sm-4">
            <div class="container main-titel text-center btn">
                <div class="title">
                    <img src="media/logo.png" class="img-fluid" alt="" width="auto" height="auto"> Taskers
                </div>
                <div class="subtitle">
                    <p>Experienced Profationals at your Door step.</p>
                    <div class="btn btn-main">Find More</div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <h1 class="title display-4 text-second has-text-centered">Why Choose us</h1>
    <div class="columns">
        <div class="column">
            <ul class="text-center">
                <li class="mb-4">
                    <i class="fas fa-file-invoice text-first display-3"></i>
                    <p class="title">Transperant Price</p>
                    <p class="subtitle">No hidden charge you pay what you see.</p>
                </li>
                <li>
                    <i class="fas fa-user-tie text-first display-4"></i>
                    <p class="title">Only Experts</p>
                    <p class="subtitle">we have only experts working with us</p>
                </li>
                <li>
                    <i class="fas fa-umbrella text-first display-4"></i>
                    <p class="title">Worry free</p>
                    <p class="subtitle">It's insured so nno worry</p>
                </li>
            </ul>
        </div>
        <div class="column">
            <div class="card has-background-primary-light text-center p-3">
                <i class="fas fa-shield-alt display-4"></i>
                <p class="title text-second">
                    100% Quality Assured
                </p>
                <p>If you don't like it we will make it right
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}