{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="section is-medium servicelist-section">


<div class="columns">
        <div class="column">
            <ul class="text-center list-inline">
            {% for service in category  %}
            <a href="{% url 'taskers' %}?service_category=service.category">
                <li class="mb-4 list-inline-item p-2 jello-horizontal">
                    <i class="fas fa-file-invoice text-first display-3 flip-horizontal-bottom"></i>
                    <p class="fs-2 fw-bolder text-uppercase">{{ service.category}}</p>
                    <p>{{ service.id }} </p>
                </li>
            </a>
            {% endfor %}
            </ul>
        </div>
    </div>


</section>

{% endblock %}


