{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="section is-medium servicelist-section">

<div class"container-fluid">
<div class="text-center m-3">
<p class="fs-2"> How it works </p>
</div>
 <ul class="text-center list-inline">
                <li class="mb-4 list-inline-item p-2 jello-horizontal">
                    <i class="fas fa-file-invoice text-first display-3 flip-horizontal-bottom"></i>
                    <p class="fs-5 fw-bolder text-uppercase">Choose The Service You need</p>
                    
                </li>
                <li class="mb-4 list-inline-item p-2">
                    <i class="fas fa-user-tie text-first display-4"></i>
                    <p class="fs-5 fw-bolder text-uppercase">Choose your service provider</p>
                    
                </li>
                <li class="mb-4 list-inline-item p-2">
                    <i class="fas fa-tools text-first display-3"></i>
                    <p class="fs-5 fw-bolder text-uppercase">Fill Up Booking form</p>
                </li>
                <li class="mb-4 list-inline-item p-2">
                    <i class="fas fa-umbrella text-first display-4"></i>
                    <p class="fs-5 fw-bolder text-uppercase">Hasselfree Service</p>
                </li>
            </ul>

</div>
<div class="columns">

        <div class="column">
        
            <ul class="text-center list-inline has-background-grey-light">

            {% for service in category  %}
<li class="mb-4 list-inline-item p-2">
            

                <li class="mb-4 list-inline-item p-2" {% if taskers  != taskers%}hidden{% endif %}>
                <div class="">
                
                    <div class="align-center">
                    <img src="/media/{{ service.icon }}" class="" alt="logo" width="120" height="60">
                    </div>
                    <p class="fs-2 fw-bolder text-uppercase">
                    <a href="{% url 'taskers' %}?category={{ service.category }}" class=" btn btn-main fs-5 fw-bolder text-uppercase" >{{ service.category}}</a>
                    </p>

                </div>
                </li>
        
        </li>    
            {% endfor %}
            </ul>
        </div>
    </div>

</section>

{% endblock %}


