{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="section is-medium main-section mt-4 has-background-grey-light">
<div class="tile is-ancestor">
  <div class="tile is-5 is-vertical is-parent">
    <div class="tile is-child box">
      <p class="title fieldset-label has-text-centered">Fillup Details</p>
      <form action="{% url 'checkout' %}" method="POST">
         {% csrf_token %}
         <fieldset class="rounded px-3 mb-5">
            <legend class=" small text-black px-2 w-auto m-3"> User Details</legend>
            {{ booking_form.name | as_crispy_field }}
            {{ booking_form.email | as_crispy_field }}
         </fieldset>
         <fieldset class="rounded px-3 mb-5">
            {{ booking_form.phone_number | as_crispy_field }}
            {{ booking_form.country | as_crispy_field }}
            {{ booking_form.postcode | as_crispy_field }}
            {{ booking_form.city | as_crispy_field }}
            {{ booking_form.street_address1 | as_crispy_field }}
            {{ booking_form.street_address2 | as_crispy_field }}
            <div class="form-check form-check-inline float-right mr-0">
               {% if user.is_authenticated %}
               <label class="form-check-label" for="id-save-info">Save this delivery information to my
               profile</label>
               <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info"
                  checked>
               {% else %}
               <label class="form-check-label" for="id-save-info">
               <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or
               <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
               </label>
               {% endif %}
            </div>
         </fieldset>
         <fieldset class="px-3">
            <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
            <!-- A Stripe card element will go here -->
            <div class="mb-3" id="card-element"></div>
            <!-- Used to display form errors -->
            <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
         </fieldset>
      </form>
    </div>
  </div>
  <div class="tile is-parent">
    <div class="tile is-child box">
    <p class="title fieldset-label has-text-centered">Booking Summary</p>
      <table class="table table is-striped table is-hoverable table is-narrow">
                {% if cart_items %}
                <tr>
                    <th scope="col">Service Provider Info</th>
                    <th scope="col">Service Info</th>
                    <th scope="col">Total Price</th>
                </tr>
                {% for item in cart_items %}
                <tr>
                    <td>
                        <figure class="image image is-64x64 media-left">
                           {% if tasker.image %}

								<img class="image" src="/media/{{ item.tasker.image }}" alt="item.tasker.name">
								{% else %}

								<img class="image is is-rounded" src="{{ MEDIA_URL }}No_Image.jpg"
									alt="{{ item.tasker.name }}">
								{% endif %}
                        </figure><span><p>{{ item.tasker.name }}</p></span>
                        <p> price: {{ item.tasker.price }}</p>
                        <p>service:{{ item.tasker.service_category }}</p>
                    </td>

                    <td>
                    <p>Booking Date: {{ item.date}}</p>
                    <p>Booking Time: {{ item.time}}</p>
                    <p>Booked Hours: {{ item.hours}}</p>

                    </td>
                    <td>
                        <p> service cost: DKK {{ item.cost|floatformat:2 }}
                        <p>service Charge: DKK {{ item.service_charge|floatformat:2 }} </p>
                        <p>Total: DKK {{ item.sub_total|floatformat:2 }}</p>
                    </td>

                </tr>
                {% endfor %}

                {% else %}
                <div class="title"> Your cart is empty </div>
                {% endif %}
                <tr>
                   {{ grand_total }}
                </tr>
            </table>
    </div>
  </div>
</div>
</section>
{% endblock %}

